
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495177631646'); /* IE9*/
  src: url('iconfont.eot?t=1495177631646#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495177631646') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495177631646') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495177631646#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-naozhong:before { content: "\f004e"; }

.icon-xin:before { content: "\e6b3"; }

.icon-news:before { content: "\e70d"; }

.icon-xiaoxi:before { content: "\e60a"; }

.icon-tu:before { content: "\e627"; }

.icon-fangwu:before { content: "\e746"; }

