<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style type="text/css">
  	body{
  		 background: url(../images/3.jpg) repeat;
  		background-size: cover;
  		 padding: 50px;
  	}
  </style>
  <body>
    <div class="tou">
    	 <form action="/users/form" method="post" class="for">
		    	<input type="text" name="user" placeholder="请输入账号"/>
		    	<input type="text" name="pass" placeholder="请输入密码"/>
		    	<input type="email" name="email" placeholder="请输入邮箱号"/>
		    	<input type="submit" value="注 册" class="ti"/>
	    	</form>
    </div>
  </body>
</html>