<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style type="text/css">
  	body{
  		 background: url(../images/3.jpg) repeat;
  		background-size: cover;
  		 padding: 50px;
  			
  	}
  </style>
  <body>
  	<div class="rin">
  		<form action="/users/hoom" method="post">
	    	<input type="text" name="user" placeholder="请输入账号"/>
	    	<input type="text" name="pass" placeholder="请输入密码"/>
	    	<input type="submit" value="登  录" class="rin1"/>
    	</form>
  	</div>
  </body>
</html>