<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	    <link rel="stylesheet" type="text/css" href="/javascripts/swiper-3.3.1.min.css" />
  		<link rel="stylesheet" type="text/css" href="../javascripts/tu/iconfont.css">
  </head>
  <style type="text/css">
  	*{
  		margin: 0;
  		padding:0;
  	}
  	body{
  		background: #000;
  	}
  	
  </style>
  <body>
    <div class="shou">
    	<p>J.H.博客</p>
    	<ul>
    		<li><a href="###" onclick="location.href='/ring'">登录</a></li>
    		<li><a href="###" onclick="location.href='/register'">注册</a></li>
    		<li><a href="###" onclick="location.href='/index'">主页</a></li>
    		<li><a href="###">学无止境</a></li>
    		<li><a href="###" onclick="location.href='/yan'">给我留言</a></li>
    	</ul>
    </div>
    
   		<div class="shou1">
	    		<img id="shou1" src="../images/a2.jpg"/>
	    		<div class="shu1" id="shu1">
	    			<h1>渡人如渡己，渡已，亦是渡人</h1>
						<p>当我们被误解时，会花很多时间去辩白。 但没有用，没人愿意听，大家习惯按自己的所闻、理解做出判别，每个人其实都很固执。与其努力且痛苦的试图扭转别人的评判，不如默默承受，给大家多一点时间和空间去了解。而我们省下辩解的功夫，去实现自身更久远的人生价值。其实，渡人如渡己，渡已，亦是渡人。</p>
	    		</div>
	    		
	    		
	    		<div class="shu2">
	    			<p class="pp">渡人如渡己，渡已，亦是渡</p>
	    			<div class="shx">
	    				<img src="../images/4.jpg"/>
	    				<p>趁我们都还年轻,多走几步路，多欣赏下沿途的风景，不要急于抵达目的地而错过了流年里温暖的人和物；趁我们都还年轻，多说些浪漫的话语，多做些幼稚的事情，不要嫌人笑话错过了生命中最美好的片段和场合；趁我们都还年轻，把距离缩短，把时间延长。趁我们都还年轻，多做些我们想要做的任何事...</p>
	    			</div>
	    			<div class="shu3">
	    					<p><i class="iconfont icon-naozhong" style="font-size: 16px;color: #89919a;margin:0 10px;"></i>2017.5.16</p>
	    					<p class="pp1"><i class="iconfont icon-xiaoxi" style="font-size: 12px;color: #89919a;margin:0 6px;"></i>16</p>
	    					<p class="pp1"><i class="iconfont icon-xin" style="font-size: 14px;color: #89919a;margin:0 6px;"></i>16</p>
	    					
	    			</div>
	    		</div>
	   			
	   			
	   			<div class="shu2">
	    			<p class="pp">渡人如渡己，渡已，亦是渡</p>
	    			<div class="shx">
	    			<img src="http://p1.wmpic.me/article/2017/05/16/1494904209_DRkgmgET_215x185.jpg"/>
	    				<p>趁我们都还年轻,多走几步路，多欣赏下沿途的风景，不要急于抵达目的地而错过了流年里温暖的人和物；趁我们都还年轻，多说些浪漫的话语，多做些幼稚的事情，不要嫌人笑话错过了生命中最美好的片段和场合；趁我们都还年轻，把距离缩短，把时间延长。趁我们都还年轻，多做些我们想要做的任何事...</p>
	    			</div>
	    			<div class="shu3">
	    					<p><i class="iconfont icon-naozhong" style="font-size: 16px;color: #89919a;margin:0 10px;"></i>2017.5.16</p>
	    					<p class="pp1"><i class="iconfont icon-xiaoxi" style="font-size: 12px;color: #89919a;margin:0 6px;"></i>16</p>
	    					<p class="pp1"><i class="iconfont icon-xin" style="font-size: 16px;color: #89919a;margin:0 6px;"></i>16</p>
	    					
	    			</div>
	    		</div>

					<div class="shu2">
	    			<p class="pp">渡人如渡己，渡已，亦是渡</p>
	    			<div class="shx">
	    				<img src="../images/6.jpg"/>
	    				<p>趁我们都还年轻,多走几步路，多欣赏下沿途的风景，不要急于抵达目的地而错过了流年里温暖的人和物；趁我们都还年轻，多说些浪漫的话语，多做些幼稚的事情，不要嫌人笑话错过了生命中最美好的片段和场合；趁我们都还年轻，把距离缩短，把时间延长。趁我们都还年轻，多做些我们想要做的任何事...</p>
	    			</div>
	    			<div class="shu3">
	    					<p><i class="iconfont icon-naozhong" style="font-size: 16px;color: #89919a;margin:0 10px;"></i>2017.5.16</p>
	    					<p class="pp1"><i class="iconfont icon-xiaoxi" style="font-size: 12px;color: #89919a;margin:0 6px;"></i>16</p>
	    					<p class="pp1"><i class="iconfont icon-xin" style="font-size: 16px;color: #89919a;margin:0 6px;"></i>16</p>
	    					
	    			</div>
	    		</div>
	   
	   
	   
	   
   		</div>
	    
	    <div class="shou2">
	    	<div class="sh1">
	    		<h1>我的名片</h1>
	    		<p>网名：J.H.</p>
	    		<p>职业：web前端开发工程师</p>
	    		<p>电话：13393868232</p>
	    		<p>Emali:1448759426@qq.com</p>
	    		<ul>
	    			<li><i class="iconfont icon-xiaoxi" style="color: #007AFF;"></i></li>
	    			<li><i class="iconfont icon-fangwu" style="color: forestgreen;"></i></li>
	    			<li><i class="iconfont icon-news" style="color: sandybrown;"></i></li>
	    			<li><i class="iconfont icon-tu"></i></li>
	    			<li><i class="iconfont icon-xin" style="color: #D43F3A;"></i></li>
	    		</ul>
	    	</div>
	    	<div class="sh2">
	    		<p>推荐文章</p>
	    		<ol>
	    			<li><a>Green绿色小清新的夏天-个人博客模板</a></li>
	    			<li><a>Wedding-婚礼主题、情人节网站模板</a></li>
	    			<li><a>时间煮雨-个人网站模板</a></li>
	    			<li><a>Green绿色小清新的夏天-个人博客模板</a></li>
	    			<li><a>花气袭人是酒香—个人网站模板</a></li>
	    			<li><a>时间煮雨-个人网站模板</a></li>
	    			<li><a>Green绿色小清新的夏天-个人博客模板</a></li>
	    			<li><a>时间煮雨-个人网站模板</a></li>
	    			<li><a>花气袭人是酒香—个人网站模板</a></li>
	    		</ol>
	    	</div>
	    	<div class="sh3">
	    		<p>摄影作品</p>
	    		<ul>
	    			<li><a href="###"><img src="http://p2.wmpic.me/article/2017/05/19/1495176118_eDdWuTaP_215x185.jpg"/></a></li>
	    			<li><a href="###"><img src="http://p1.wmpic.me/article/2017/05/15/1494830844_lTzZnFYu_215x185.jpg"/></a></li>
	    			<li><a href="###"><img src="http://p3.wmpic.me/article/2017/05/05/1493953232_aNcMTzqk_215x185.jpg"/></a></li>
	    			<li><a href="###"><img src="http://p3.wmpic.me/article/2017/04/18/1492487270_OfLVBheG_215x185.jpg"/></a></li>
	    			<li><a href="###"><img src="http://p1.wmpic.me/article/2017/03/31/1490938764_HLjhiwwo_215x185.jpg"/></a></li>
	    			<li><a href="###"><img src="http://p2.wmpic.me/article/2017/03/28/1490670637_MkeDuEGq_215x185.jpg"/></a></li>
	    			<li><a href="###"><img src="http://p1.wmpic.me/article/2017/03/20/1489992324_JHTJschA_215x185.jpg"/></a></li>
	    			<li><a href="###"><img src="http://p2.wmpic.me/article/2017/02/10/1486706359_jGrbJjrj_215x185.jpg"/></a></li>
	    			<li><a href="###"><img src="http://p2.wmpic.me/article/2017/01/22/1485067975_TcWtYFYN_215x185.jpg"/></a></li>
	    		</ul>
	    	</div>
    	</div>
    	
    
    	
  </body>
	<!--<script type="text/javascript">
		
			var shou1=document.getElementById('shou1')
			var shu1=document.getElementById('shu1')
			shou1.onmouseover=function(){
				shu1.style.display="block";
			}
			shou1.onmouseout=function(){
				shu1.style.display="none";
			}
			
	</script>-->
  	
</html>