<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style type="text/css">
  	body{
  		 background: url(../images/3.jpg) repeat;
  		background-size: cover;
  		padding: 50px;
  			
  	}
  </style>
  <body>
  	<div class="word">
  	<div class="yan">给我留言</div>
	  	<form action="/users/list" method="post">
	  		<input type="text" name="biaoti" class="inp" placeholder="请输入标题"/><br />
	  		<textarea name="con" class="txt" placeholder="请输入内容"></textarea>
	  		<input type="submit" value="发送" class="fa"/>
	  	</form>
  	</div>
  </body>
</html>
